<div class="center-screen">
  <div class="container" style="height:100%">
    <div class="row">
      <div class="col m2"></div>
      <form class="col m8">
        <div class="card blue-grey darken-4">
          <div class="card-content white-text">
            <span class="card-title">Login</span>
            <hr>
            <div class="row">
              <div class="input-field col s12">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Usuário</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Senha</label>
              </div>
            </div>
          </div>
          <div align="right" class="card-action">
            <a href="#">Entrar</a>
            <a href="#">Cadastrar</a>
          </div>
        </div>
      </form>
      <div class="col m2"></div>
    </div>
  </div>
</div>
